<div class="container-fluid">
  <div class="row px-lg-5 mx-lg-5">
    <!-- BEGINNING OF BREADCRUMBS -->
    <div class="col-12 mt-5">
      <section class="d-none d-md-block">
        <div class="breadcrumbs">
          <div class="row">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li *ngIf="productDetail.featured === 1" class="breadcrumb-item"><a href="#">Featured</a></li>
                <li class="breadcrumb-item" aria-current="page">{{productDetail.product_name}}</li>
              </ol>
            </nav>
          </div>
        </div>
      </section>
    </div>
    <!-- ENDING OF BREADCRUMBS -->
  
    <!-- BEGINNING OF IMAGE VIEWING -->
    <div class="col-12">
      <section>
        <div class="product-detail">
          <div class="row">
            <div class="col-lg-2 order-lg-first">
              <div class="row">
                <div *ngFor="let image of productDetail.image" class="col-lg-12 col-3">
                  <img src="{{image}}" (click)="setMain(image)"  alt="small images" class="front  mb-5">
                </div>
              </div>
  
            </div>
  
            <div class="col-lg-6 order-lg-second order-first mb-5">
              <img src="{{mainImage}}" alt="big image" class="img-fluid w-100">
            </div>
  
            <div class="col-lg-4">
              <form class="row">
                <div class="col-12 mb-5">
                  <p class="item-name mb-0">{{productDetail.product_name}}</p>
                  <small class="small-text">
                    {{productDetail.product_description}}
                  </small>
                </div>
                <div class="col-12">
                  <p class="availability">Availability: <b>In stock</b>
                    <span class="float-right fw-600">
                      <img src="assets/customer/Ratings.svg" alt="" class="ratings">
                      <small class=" ">2 Reviews</small>
                    </span>
                  </p>
                  <p class="sku">SKU: <span>{{productDetail.sku}}</span> </p>
                  <span *ngIf="productDetail.color">Color: </span>
                  <span *ngFor="let colorValue of productDetail.color; let i = index" >
                    <input type="radio" id="color"  >
                    <label for="color">{{colorValue | uppercase }}</label>
                  </span>
                  <!-- <p class="merchant-name">Merchant: <b>{{productDetail.user.firstname}} {{productDetail.user.lastname}}</b></p> -->
                </div>
                <div class="col-12 mt-4">
                  <div class="border-top pt-4">
                    <div class="row">
                      <div class="col-lg-5 col-5">
                        <p class="price m-0"> PRICE</p>
                        <p class="price-amount text-bold">{{productDetail.new_price | currency: "₦"}}</p>
                      </div>
                      <div class="col-lg-7 col-7">
                        <div class="row">
                          <div class="col-lg-1"></div>
                          <div class="col-lg-3 col-sm-4 col-4 pr-0">
                            <button class="no border-right w-100">-</button>
                          </div>
                          <div class="col-lg-4 col-sm-4 col-4 px-0">
                            <input type="text" class="text-center no w-100" min="1" value="2">
                          </div>
                          <div class="col-lg-3 col-sm-4 col-4 pl-0">
                            <button class="no border-left w-100">+</button>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 mt-3"></div>
                      <div class="col-lg-5 col-5 pr-lg-0">
                        <button class="cart-image-button w-100"><i class="fa fa-shopping-cart pr-2"
                            aria-hidden="true"></i>Add To
                          Cart</button>
                      </div>
                      <div class="col-lg-2 col-3 pt-1 px-lg-2 px-1">
                        <button class="w-100 heart-icon"><i class="fa fa-heart" aria-hidden="true"></i></button>
                      </div>
                      <div class="col-lg-5 col-4 pl-lg-0">
                        <button routerLink="/product-checkout" class="w-100 fs-15 buy-now">Buy Now</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- ENDING OF IMAGE VIEWING -->
  
    <!-- BEGINNING OF NAV TABS -->
    <div class="col-12 d-none d-md-block">
      <section class="mt-5">
        <div class="products-details-tab">
          <div class="row">
            <div class="col-12">
              <ul class="nav nav-tabs prod" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active py-3 px-4" id="home-tab" data-toggle="tab" href="#home" role="tab"
                    aria-controls="home" aria-selected="true">Product Details</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  py-3 px-4" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                    aria-controls="profile" aria-selected="false">Company Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link py-3 px-4" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                    aria-controls="contact" aria-selected="false">Buyer Reviews</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  py-3 px-4" id="contact-merchant" data-toggle="tab" href="#home" role="tab"
                    aria-controls="home" aria-selected="true">Contact Merchant</a>
                </li>
              </ul>
              <div class="tab-content tab-container" id="myTabContent">
  
                <div class="tab-pane fade show active px-4" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="border-bottom">
                        <p class="overview fs-27 bold pt-5">Overview</p>
                      </div>
                    </div>
                    <div class="col-lg-4 pt-4">
                      <p class="details  bold ">Quick Details</p>
                      <div class="container-fluid">
                        <div class="row  mb-5">
                          <div class="col-6 mb-3 p-0">
                            <span class="material"> Material: </span>
                          </div>
                          <div class="col-6 mb-3 p-0">
                            <span class="content ml-">100% Polyester</span>
                          </div>
  
                          <div class="col-6 mb-3 p-0">
                            <span class="material"> Available Quantity: </span>
                          </div>
                          <div class="col-6 mb-3 p-0">
                            <span class="content ml-">1000 pcs</span>
                          </div>
  
                          <div class="col-6 mb-3 p-0">
                            <span class="material"> Brand Name: </span>
                          </div>
                          <div class="col-6 mb-3 p-0">
                            <span class="content ml-">{{productDetail.brand_name}}</span>
                          </div>
  
                          <div class="col-6 mb-3 p-0">
                            <span class="material"> Processing Type: </span>
                          </div>
                          <div class="col-6 mb-3 p-0">
                            <span class="content ml-">Finished</span>
                          </div>
  
                          <div class="col-6 mb-3 p-0">
                            <span class="material"> Feature: </span>
                          </div>
                          <div class="col-6 mb-3 p-0">
                            <span class="content ml-">QUICK DRY, Breathable</span>
                          </div>
  
                          <div class="col-6 mb-3 p-0">
                            <span class="material"> Clothing Length: </span>
                          </div>
                          <div class="col-6 mb-3 p-0">
                            <span class="content ml-">Regular</span>
                          </div>
  
                          <div class="col-6 mb-3 p-0">
                            <span class="material"> Item Type: </span>
                          </div>
                          <div class="col-6 mb-3 p-0">
                            <span class="content ml-">Female Shirt</span>
                          </div>
  
                          <div class="col-6 mb-3 p-0">
                            <span class="material"> Style: </span>
                          </div>
                          <div class="col-6 mb-3 p-0">
                            <span class="content ml-"> {{productDetail.style}}</span>
                          </div>
  
                          <div class="col-6 mb-3 p-0">
                            <span class="material"> Size: </span>
                          </div>
                          <div class="col-6 mb-3 p-0">
                            <span class="content">Medium</span>
                          </div>
  
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 pt-4">
  
                      <div class="container-fluid">
                        <div class="row mb-5">
                          <div class="col-12">
                            <p class="details   bold ">Packaging & Delivery</p>
                          </div>
                          <div class="col-6 mb-3">
                            <span class="material"> Selling Unit: </span>
                          </div>
                          <div class="col-6 mb-3">
                            <span class="content ml-4">{{productDetail.selling_unit}}</span>
                          </div>
  
                          <div class="col-6 mb-3">
                            <span class="material"> Single Package Size: </span>
                          </div>
                          <div class="col-6 mb-3">
                            <span class="content ml-4">50x30x3 cm</span>
                          </div>
  
                          <div class="col-6 mb-3">
                            <span class="material">Single Gross Weight:</span>
                          </div>
                          <div class="col-6 mb-3">
                            <span class="content ml-4">{{productDetail.weight}}</span>
                          </div>
  
                          <div class="col-6 mb-3">
                            <span class="material"> Packaging Type: </span>
                          </div>
                          <div class="col-6 mb-3">
                            <span class="content ml-4">1 pc/polybag</span>
                          </div>
  
                          <div class="col-6 mb-3">
                            <span class="material"> Estimated Time: </span>
                          </div>
                          <div class="col-6 mb-3">
                            <span class="content ml-4">{{productDetail.estimated_time}}</span>
                          </div>
  
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
  
  
                <div class="tab-pane fade px-4" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="border-bottom">
                        <p class="overview fs-27 bold pt-5">Company Overview</p>
                      </div>
                    </div>
                    <div class="col-12 pt-4">
                      <p class="details bold ">Quick Details</p>
                    </div>
                    <div class="col-lg-5">
                      <div class="row mb-5">
                        <div class="col-6 mb-3">
                          <span class="material"> Business Type:</span>
                        </div>
                        <div class="col-6 mb-3">
                          <span class="content">Textile & Clothings, Manufacturing </span>
                        </div>
  
                        <div class="col-6 mb-3">
                          <span class="material"> Main Products:</span>
                        </div>
                        <div class="col-6 mb-3">
                          <span class="content">Clothings, Home & Decor, Accessories</span>
                        </div>
  
                        <div class="col-6 mb-3">
                          <span class="material">Total Annual Revenue:</span>
                        </div>
                        <div class="col-6 mb-3">
                          <span class="content">N12,000,000</span>
                        </div>
  
                        <div class="col-6 mb-3">
                          <span class="material"> Year Established:</span>
                        </div>
                        <div class="col-6 mb-3">
                          <span class="content">2010</span>
                        </div>
  
                        <div class="col-6 mb-3">
                          <span class="material"> Total Employees: </span>
                        </div>
                        <div class="col-6 mb-3">
                          <span class="content">25 - 50 People</span>
                        </div>
  
                      </div>
                    </div>
                    <div class="col-lg-4">
  
                      <div class="row mb-5">
                        <div class="col-6 mb-3">
                          <span class="material"> Country & Region: </span>
                        </div>
                        <div class="col-6 mb-3">
                          <span class="content">Nigeria, Africa</span>
                        </div>
  
                        <div class="col-6 mb-3">
                          <span class="material"> Single Package Size: </span>
                        </div>
                        <div class="col-6 mb-3">
                          <span class="content"> 50x30x3 cm</span>
                        </div>
  
                        <div class="col-6 mb-3">
                          <span class="material">Product Certification</span>
                        </div>
                        <div class="col-6 mb-3">
                          <span class="content">-</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="tab-pane fade px-4 pb-5" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="border-bottom">
                        <p class="overview  fs-27 bold pt-5">Review</p>
                      </div>
                    </div>
                    <div class="col-lg-3 py-4">
                      <p class="details bold ">Product Ratings (28)</p>
                      <div class="row">
                        <div class="col-lg-10">
                          <div class="bg-grey text-center p-4">
                            <p class="m-0">
                              4.1/5
                            </p>
                            <img src="assets/customer/Ratings@2x.png" height="14px" alt="">
                            <p class="">
                              28 ratings
                            </p>
                          </div>
                        </div>
                        <div class="col-lg-10">
                          <div class="row">
                            <div class="col-lg-1 col-2 pt-1">
                              <small class="">5</small>
                            </div>
                            <div class="col-lg-2 col-2 pt-1">
                              <img src="assets/customer/Star.png" height="10px" alt="">
                            </div>
                            <div class="col-lg-1 col-2 pt-1">
                              <small class="">(12)</small>
                            </div>
                            <div class="col-lg-7 col-6 pt-3">
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 25%; background: #c6d373;"
                                  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
  
                          </div>
                        </div>
                        <div class="col-lg-10">
                          <div class="row">
                            <div class="col-lg-1 col-2 pt-1">
                              <small class="">4</small>
                            </div>
                            <div class="col-lg-2 col-2 pt-1">
                              <img src="assets/customer/Star.png" height="10px" alt="">
                            </div>
                            <div class="col-lg-1 col-2 pt-1">
                              <small class="">(12)</small>
                            </div>
                            <div class="col-lg-7 col-6 pt-3">
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 25%; background: #c6d373;"
                                  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-10">
                          <div class="row">
                            <div class="col-lg-1 col-2 pt-1">
                              <small class="">3</small>
                            </div>
                            <div class="col-lg-2 col-2 pt-1">
                              <img src="assets/customer/Star.png" height="10px" alt="">
                            </div>
                            <div class="col-lg-1 col-2 pt-1">
                              <small class="">(12)</small>
                            </div>
                            <div class="col-lg-7 col-6 pt-3">
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 25%; background: #c6d373;"
                                  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-10">
                          <div class="row">
                            <div class="col-lg-1 col-2 pt-1">
                              <small class="">2</small>
                            </div>
                            <div class="col-lg-2 col-2 pt-1">
                              <img src="assets/customer/Star.png" height="10px" alt="">
                            </div>
                            <div class="col-lg-1 col-2 pt-1">
                              <small class="">(12)</small>
                            </div>
                            <div class="col-lg-7 col-6 pt-3">
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 25%; background: #c6d373;"
                                  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-10 ">
                          <div class="row">
                            <div class="col-lg-1 col-2 pt-1">
                              <small class="">1</small>
                            </div>
                            <div class="col-lg-2 col-2 pt-1">
                              <img src="assets/customer/Star.png" height="10px" alt="">
                            </div>
                            <div class="col-lg-1 col-2 pt-1">
                              <small class="">(0)</small>
                            </div>
                            <div class="col-lg-7 col-6 pt-3">
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 0%; background: #c6d373;"
                                  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>
                        </div>
  
                      </div>
                    </div>
                    <div class="col-lg-9 pt-4">
                      <p class="details  bold ">Product Reviews</p>
                      <div class="row">
                        <div class="col-12 mb-3">
                          <div class="border-bottom">
                            <div class="row">
                              <div class="col-12">
                                <img src="assets/customer/Ratings@2x.png" height="15px" alt="">
                                <p class="ver">
                                  <b>I really Like it!!</b>
                                </p>
                                <p class="ver">
                                  Fits as intended, and fabric feels very authentic as advertised.
                                </p>
                              </div>
                              <div class="col-lg-8 col-6">
                                <p class=" max">01/10/2019 by Maxwell</p>
                              </div>
                              <div class="col-lg-4 col-6 text-right">
                                <p class=" ver"><img src="assets/customer/check 1@2x.png" height="18px" alt="">
                                  Verified purchase</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="">
                            <div class="row">
                              <div class="col-12">
                                <img src="assets/customer/Ratings@2x.png" height="15px" alt="">
                                <p class="ver">
                                  <b>I really Like it!!</b>
                                </p>
                                <p class="ver">
                                  Fits as intended, and fabric feels very authentic as advertised.
                                </p>
                              </div>
                              <div class="col-lg-8 col-6">
                                <p class="max">01/10/2019 by Maxwell</p>
                              </div>
                              <div class="col-lg-4 col-6 text-right">
                                <p class="ver"><img src="assets/customer/check 1@2x.png" height="18px" alt="">
                                  Verified purchase</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
  
  
              </div>
            </div>
            <div class="col-lg-12">
  
  
            </div>
          </div>
        </div>
      </section>
    </div>
  
    <div class="col-12 mt-3 d-md-none">
      <div>
        <div class="row">
          <div class="col-12 mb-3">
            <div class="bg-white shadow rounded py-4 px-3">
              <div class="row">
                <div class="col-12">
                  <p class=" det "><b>PRODUCT DETAILS</b></p>
                </div>
  
                <div class="col-12">
                  <p class="details  bold fs-16">Quick Details</p>
                </div>
  
                <div class="col-6 mb-3">
                  <span class="material"> Material: </span>
                </div>
                <div class="col-6 mb-3 text-right">
                  <span class="content">100% Polyester</span>
                </div>
  
                <div class="col-6 mb-3">
                  <span class="material"> Available Quantity: </span>
                </div>
                <div class="col-6 mb-3 text-right">
                  <span class="content">1000 pcs</span>
                </div>
  
                <div class="col-6 mb-3">
                  <span class="material"> Brand Name: </span>
                </div>
                <div class="col-6 mb-3 text-right">
                  <span class="content">{{productDetail.brand_name}}</span>
                </div>
  
                <div class="col-6 mb-3">
                  <span class="material"> Processing Type: </span>
                </div>
                <div class="col-6 mb-3 text-right">
                  <span class="content">Finished</span>
                </div>
  
                <div class="col-6 mb-3">
                  <span class="material"> Feature: </span>
                </div>
                <div class="col-6 mb-3 text-right">
                  <span class="content">QUICK DRY, Breathable</span>
                </div>
  
                <div class="col-6 mb-3">
                  <span class="material"> Clothing Length: </span>
                </div>
                <div class="col-6 mb-3 text-right">
                  <span class="content">Regular</span>
                </div>
  
                <div class="col-6 mb-3">
                  <span class="material"> Item Type: </span>
                </div>
                <div class="col-6 mb-3 text-right">
                  <span class="content">Female Shirt</span>
                </div>
  
                <div class="col-6 mb-3">
                  <span class="material"> Style: </span>
                </div>
                <div class="col-6 mb-3 text-right">
                  <span class="content"> {{productDetail.style}}</span>
                </div>
  
                <div class="col-6 mb-3">
                  <span class="material"> Size: </span>
                </div>
                <div class="col-6 mb-3 text-right">
                  <span class="content">Medium</span>
                </div>
  
  
  
                <div class="col-12 mt-4">
                  <p class="details  bold fs-16">Packaging and Delivery</p>
                </div>
                <div class="col-6 mb-3">
                  <span class="material"> Selling Unit: </span>
                </div>
                <div class="col-6 mb-3 text-right">
                  <span class="content">{{productDetail.selling_unit}}</span>
                </div>
  
                <div class="col-6 mb-3">
                  <span class="material"> Single Package Size: </span>
                </div>
                <div class="col-6 mb-3 text-right">
                  <span class="content">{{productDetail.single_package_size}}</span>
                </div>
  
                <div class="col-6 mb-3">
                  <span class="material">Single Gross Weight:</span>
                </div>
                <div class="col-6 mb-3 text-right">
                  <span class="content">{{productDetail.weight}}</span>
                </div>
  
                <div class="col-6 mb-3">
                  <span class="material"> Packaging Type: </span>
                </div>
                <div class="col-6 mb-3 text-right">
                  <span class="content">1 pc/polybag</span>
                </div>
  
                <div class="col-6 mb-3">
                  <span class="material"> Estimated Time: </span>
                </div>
                <div class="col-6 mb-3 text-right">
                  <span class="content">{{productDetail.estimated_time}}</span>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-12 mb-3">
            <div class="bg-white shadow rounded py-4 px-3">
              <div class="row">
                <div class="col-12">
                  <p class=" det "><b>COMPANY PROFILE</b></p>
                </div>
                <div class="col-12 pt-4">
                  <p class="details  bold ">Quick Details</p>
                </div>
                <div class="col-5 mb-3">
                  <span class="material"> Business Type:</span>
                </div>
                <div class="col-7 mb-3 text-right">
                  <span class="content">Textile & Clothings, Manufacturing </span>
                </div>
  
                <div class="col-5 mb-3">
                  <span class="material"> Main Products:</span>
                </div>
                <div class="col-7 mb-3 text-right">
                  <span class="content">Clothings, Home & Decor, Accessories</span>
                </div>
  
                <div class="col-7 mb-3">
                  <span class="material">Total Annual Revenue:</span>
                </div>
                <div class="col-5 mb-3 text-right">
                  <span class="content">N12,000,000</span>
                </div>
  
                <div class="col-5 mb-3">
                  <span class="material"> Year Established:</span>
                </div>
                <div class="col-7 mb-3 text-right">
                  <span class="content">2010</span>
                </div>
  
                <div class="col-5 mb-3">
                  <span class="material"> Total Employees: </span>
                </div>
                <div class="col-7 mb-3 text-right">
                  <span class="content">25 - 50 People</span>
                </div>
  
                <div class="col-6 mb-3">
                  <span class="material"> Country & Region: </span>
                </div>
                <div class="col-6 mb-3 text-right">
                  <span class="content">Nigeria, Africa</span>
                </div>
  
                <div class="col-6 mb-3">
                  <span class="material"> Single Package Size: </span>
                </div>
                <div class="col-6 mb-3 text-right">
                  <span class="content"> {{productDetail.single_package_size}}</span>
                </div>
  
                <div class="col-6 mb-3">
                  <span class="material">Product Certification</span>
                </div>
                <div class="col-6 mb-3 text-right">
                  <span class="content">-</span>
                </div>
  
  
              </div>
            </div>
          </div>
  
          <div class="col-12 mb-3">
            <div class="bg-white shadow rounded py-4 px-3">
              <div class="row">
                <div class="col-12">
                  <p class=" det "><b>BUYER REVIEWS</b></p>
                </div>
                <div class="col-12">
                  <p class="details  bold fs-16">Product Ratings (28)</p>
                </div>
                <div class="col-5 pr-1">
                  <div class="bg-grey text-center py-4">
                    <p class=" m-0">
                      4.1/5
                    </p>
                    <img src="assets/customer/Ratings@2x.png" height="14px" alt="">
                    <p class="">
                      28 ratings
                    </p>
                  </div>
                </div>
                <div class="col-7">
                  <div class="row">
                    <div class="col-12">
                      <div class="row">
                        <div class="col-lg-1 col-2 px-0">
                          <small class="">5</small>
                        </div>
                        <div class="col-lg-3 col-2 px-0">
                          <img src="assets/customer/Star.png" height="10px" alt="">
                        </div>
                        <div class="col-lg-1 col-2 px-0">
                          <small class="">(12)</small>
                        </div>
                        <div class="col-lg-6 col-6 pt-2">
                          <div class="progress" style="margin-top: +5px;">
                            <div class="progress-bar" role="progressbar" style="width: 25%; background: #c6d373;"
                              aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
  
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="row">
                        <div class="col-lg-1 col-2 px-0">
                          <small class="">5</small>
                        </div>
                        <div class="col-lg-3 col-2 px-0">
                          <img src="assets/customer/Star.png" height="10px" alt="">
                        </div>
                        <div class="col-lg-1 col-2 px-0">
                          <small class="">(12)</small>
                        </div>
                        <div class="col-lg-6 col-6 pt-2">
                          <div class="progress" style="margin-top: +5px;">
                            <div class="progress-bar" role="progressbar" style="width: 25%; background: #c6d373;"
                              aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
  
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="row">
                        <div class="col-lg-1 col-2 px-0">
                          <small class="">5</small>
                        </div>
                        <div class="col-lg-3 col-2 px-0">
                          <img src="assets/customer/Star.png" height="10px" alt="">
                        </div>
                        <div class="col-lg-1 col-2 px-0">
                          <small class="">(12)</small>
                        </div>
                        <div class="col-lg-6 col-6 pt-2">
                          <div class="progress" style="margin-top: +5px;">
                            <div class="progress-bar" role="progressbar" style="width: 25%; background: #c6d373;"
                              aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
  
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="row">
                        <div class="col-lg-1 col-2 px-0">
                          <small class="">5</small>
                        </div>
                        <div class="col-lg-3 col-2 px-0">
                          <img src="assets/customer/Star.png" height="10px" alt="">
                        </div>
                        <div class="col-lg-1 col-2 px-0">
                          <small class="">(12)</small>
                        </div>
                        <div class="col-lg-6 col-6 pt-2">
                          <div class="progress" style="margin-top: +5px;">
                            <div class="progress-bar" role="progressbar" style="width: 25%; background: #c6d373;"
                              aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
  
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="row">
                        <div class="col-lg-1 col-2 px-0">
                          <small class="">1</small>
                        </div>
                        <div class="col-lg-2 col-2 px-0">
                          <img src="assets/customer/Star.png" height="10px" alt="">
                        </div>
                        <div class="col-lg-1 col-2 px-0">
                          <small class="">(0)</small>
                        </div>
                        <div class="col-lg-7 col-6 pt-2">
                          <div class="progress" style="margin-top: +5px;">
                            <div class="progress-bar" role="progressbar" style="width: 0%; background: #c6d373;"
                              aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="col-12 mt-4">
                  <p class="details  bold fs-16">Product Reviews</p>
                </div>
                <div class="col-12 mb-3">
                  <div class="border-bottom">
                    <div class="row">
                      <div class="col-12">
                        <img src="assets/customer/Ratings@2x.png" height="15px" alt="">
                        <p class="ver">
                          <b>I really Like it!!</b>
                        </p>
                        <p class="ver">
                          Fits as intended, and fabric feels very authentic as advertised.
                        </p>
                      </div>
                      <div class="col-lg-8 col-6">
                        <p class=" max">01/10/2019 by Maxwell</p>
                      </div>
                      <div class="col-lg-4 col-6 text-right">
                        <p class=" ver"><img src="assets/customer/check 1@2x.png" height="18px" alt="">
                          Verified purchase</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="">
                    <div class="row">
                      <div class="col-12">
                        <img src="assets/customer/Ratings@2x.png" height="15px" alt="">
                        <p class="ver">
                          <b>I really Like it!!</b>
                        </p>
                        <p class="ver">
                          Fits as intended, and fabric feels very authentic as advertised.
                        </p>
                      </div>
                      <div class="col-lg-8 col-6">
                        <p class=" max">01/10/2019 by Maxwell</p>
                      </div>
                      <div class="col-lg-4 col-6 text-right">
                        <p class=" ver"><img src="assets/customer/check 1@2x.png" height="18px" alt="">
                          Verified purchase</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
  
    </div>
  
    <!-- ENDING OF NAV TABS -->
  </div>
</div>
<app-related-products  [products]="relatedProducts" (refreshPage)="relatedProductView()"></app-related-products>