<div class="product-checkout-background">
  <!-- BREADCRUMB STARTS HERE -->
<div class="container-fluid">
  <div class="row px-lg-5 mx-lg-5">
    <div class="col-12">
      <section class="d-none d-md-block">
        <div class="breadcrumbs">
          <div class="row">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page" >Checkout</li>
              </ol>
            </nav>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<!-- BREADCRUMB ENDS HERE -->

<!-- INDICATORS STARTS HERE -->
<div class="container-fluid mt-4">
  <div class="row px-lg-5 mx-lg-5">
    <div class="col-12 px-0">
      <div id="1" class="ml-md-3 step step-one active-step"></div>
      <div id="2" class="step step-two"></div>
    </div>
  </div>
</div>
<!-- INDICATORS ENDS HERE -->

<div class="container-fluid">
  <div class="row my-lg-3 px-lg-5 mx-lg-5">
    <div class="col-12">
      <section>
        <app-checkout-page ></app-checkout-page>
        <!-- <app-payment ></app-payment> -->
      </section>
    </div>
  </div>
</div>

 
</div>