/* ======== RELATED PRODUCTS ========= */

.related-products {
    background-color: #ffffff;
}

.related-products-text-container {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  color: #776871;
  position: relative;
}