<div *ngIf="rating == 5">
    <span class="favorite-color">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
    </span>
</div>  

<div *ngIf="rating == 4.5">
    <span class="favorite-color">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
    </span>
</div>

<div *ngIf="rating == 4">
    <span class="favorite-color">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
    </span>
    <span class="unfavorite-color">
        <i class="fas fa-star"></i>
    </span>
</div>

<div *ngIf="rating == 3.5">
    <span class="favorite-color">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
    </span>
    <span class="unfavorite-color">
        <i class="fas fa-star"></i>
    </span>
</div>

<div *ngIf="rating == 3">
    <span class="favorite-color">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
    </span>
    <span class="unfavorite-color">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
    </span>
</div>

<div *ngIf="rating == 2.5">
    <span class="favorite-color">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
    </span> 
    <span class="unfavorite-color">   
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
    </span>
</div>
<div *ngIf="rating == 2">
    <span class="favorite-color">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
    </span> 
    <span class="unfavorite-color">   
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
    </span>
</div>

<div *ngIf="rating == 1.5">
    <span class="favorite-color">
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
    </span>
    <span class="unfavorite-color">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
    </span>
</div>

<div *ngIf="rating == 1">
    <span class="favorite-color">
        <i class="fas fa-star"></i>
    </span>
    <span class="unfavorite-color">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
    </span>
</div>

<div *ngIf="rating == 0.5">
    <span class="favorite-color">
        <i class="fas fa-star-half-alt"></i>
    </span>
    <span class="unfavorite-color">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
    </span>
</div>

<div *ngIf="rating == 0">
    <span class="unfavorite-color">
<i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
    </span>
</div>