/* ===== PRODUCT CHECKOUT ========== */
.product-checkout-text {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: bold;
  color: #212529;
}

.product-title-name {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 600;
  color: #212529;
}

.product-description-checkout {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #979797;
}

.sku,
.color {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #000000;
}

.sku span,
.color span {
  font-weight: 600;
}

.price {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #404040;
}

input.increment-decrement {
  width: 100% !important;
  background: #f2f2f2;
  border: none;
  height: 40px;
}

button.increment-decrement {
  background: #f2f2f2;
  border: none;
  height: 40px;
}

.remove-item {
  font-family: 'Open Sans', sans-serif;
  font-size: 12.8px;
  font-weight: 600;
  letter-spacing: 0.38px;
  color: #ed3833;
}


/* ======= ORDER SUMMARY ========= */
.order-summary,
.product-checkout-card {
  border-radius: 8px;
  background-color: #fafafa;
}

.order-summary-text {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: bold;
  color: #212529;
}

.checkout-heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #212529;
}

.checkout-subheading {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #212529;
}

.checkout-total {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #000000;
}

.checkout-text {
  font-weight: 600;
}

.checkout-price {
  font-weight: bold;
}

.checkout {
  text-shadow: 1px 1px 4px rgba(64, 64, 64, 0.25);
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.45px;
  color: #404040;
  border-radius: 4px;
  background-color: #ffc857;
}

.btn-shopNow {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.45px;
  color: #404040;
  border-radius: 4px;
  background-color: #ffc857;
}
