<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 signin-image"></div>
    <div class="col-lg-6 welcome-back-container">
      <p class="welcome mt-4 bold">Welcome Back!</p>
      <p class="login-text mb-3">Login using your email address or username</p>

      <form>
        <div class="form-group">
          <label class="mt-5 email">Email or Username</label>
          <input type="email" placeholder="olawalemartins@gmail.com" class="form-control  enter-email ">
        </div>
        <div class="form-group">
          <label class="password">Password</label>
          <input type="password" placeholder="Password is required" name="password"
            class="form-control enter-password ">
        </div>

        <div class="login-buttons d-flex mb-5 mt-5">
          <button type="button" class="btn cancel px-4 mr-2">Cancel</button>
          <button type="submit" class="btn create-account-button">Sign In</button>
        </div>
      </form>
      <p class="create-account2 ff fs-12">Don’t have an account? <span class="create-account-link ff fs-12">Create
          Account</span> </p>
      <div class="row socials mx-1">
        <p class="social-sigin my-1 ff fs-12">or Sign Up using </p>
        <img src="assets/customer/Vector.svg" alt="">
        <img src="assets/customer/Group.svg" alt="">
        <img src="assets/customer/Vector-2.svg" alt="">
        <img src="assets/customer/Group-2.svg" alt="">
      </div>
    </div>
  </div>
</div>
