<!-- BREADCRUMB STARTS HERE -->
<div class="container">
    <div class="row">
      <div class="col-12">
        <section class="d-none d-md-block">
          <div class="breadcrumbs">
            <div class="row">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                  <li class="breadcrumb-item"><a routerLink="/product-checkout">Checkout</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Congratulations</li>
                </ol>
              </nav>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <!-- BREADCRUMB ENDS HERE -->

  <!-- CONGRATULATIONS BODY STARTS HERE  -->
  <div class="container">
      <div class="row">
          <div class="col-lg-6 offset-lg-3">
              <div class="congratulations-box text-center mb-5 pb-5">
                <p class="congratulations py-5">Congratulations!</p>
                <img src="assets/customer/Group 10631.svg" alt="congrats logo" class="congrats-logo pb-5">
                <p class="succesful-order pb-4">Your order was successful. You will receive your order receipts via your registered email. </p>
                <button routerLink="/" class="btn continue-shopping px-5 py-3 mb-5">Continue Shopping</button>
              </div>
          </div>
      </div>
  </div>
  <!-- CONGRATULATIONS BODY ENDS HERE  -->

