<!-- CATEGORY BUTTON STARTS-->
<div class="container-fluid mt-3">
  <div class="row px-lg-5 mx-lg-5">
    <div class="col-12 mb-3 d-sm-inline-flex justify-content-between px-2">
      <div class="dropdown">
        <button class="btn category-button dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>

      <div class="sell-on mt-3 px-lg-0 px-md-1 px-0"><img src="assets/customer/Sell on ATA.svg">Sell on <a
          class="sell-on-allThingsAfrica">All Things Africa</a></div>
    </div>
  </div>
  <!-- CATEGORY BUTTON ENDS HERE -->

  <!-- CAROUSEL IMAGES  -->
  <div class="container-fluid">
    <div class="row px-lg-5 mx-lg-5">
      <div class="col-12 mb-3 px-lg-0 px-md-1 px-0">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="carousel-caption d-none d-md-block">
                <p class="advancing m-0 text-left pl-4 py-2">Advancing African Enterprise</p>
                <p class="products-changing mt-1 text-left pl-4 pt-2">Products changing the African
                  perspective
                  and
                  economy</p>
              </div>
              <img src="assets/customer/Rectangle 3.svg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <div class="carousel-caption d-none d-md-block">
                <p class="advancing m-0 text-left pl-4 pt-1">Advancing African Enterprise</p>
                <p class="products-changing mt-1 text-left pl-4 pt-2">Products changing the African
                  perspective
                  and
                  economy</p>
              </div>
              <img src="assets/customer/Rectangle 3.svg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <div class="carousel-caption d-none d-md-block">
                <p class="advancing m-0 text-left pl-4 pt-1">Advancing African Enterprise</p>
                <p class="products-changing mt-1 text-left pl-4 pt-2">Products changing the African
                  perspective
                  and
                  economy</p>
              </div>
              <img src="assets/customer/Rectangle 3.svg" class="d-block w-100" alt="...">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <img src="assets/customer/Caret Left.svg" alt="" class="carousel-prev d-none d-sm-block" aria-hidden="true">
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <img src="assets/customer/Caret Right.svg" alt="" class="carousel-next d-none d-sm-block"
              aria-hidden="true">
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- CAROUSEL IMAGES ENDS HERE  -->

  <!-- DELIVERY PROCESS STARTS -->
  <div class="container-fluid">
    <div class="row px-lg-5 mx-lg-5">
      <div class="col-12 mb-3 d-none d-sm-block px-0 px-lg-0 px-md-1">
        <div class="support-process px-3 pt-4">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="media-container">
                <div class="row">
                  <div class="col-lg-5 col-md-6 pr-lg-0 text-right">
                    <img src="assets/customer/Truck-Icon.svg" height="56px" alt="Truck Icon">
                  </div>
                  <div class="col-lg-7 col-md-6 pr-lg-0">
                    <div class="media-body">
                      <h5 class="delivery-process-key bold">FREE DELIVERY</h5>
                      <p class="delivery-process-value">From ₦9999</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="media-container-support">
                <div class="row">
                  <div class="col-lg-5 col-md-6 pr-lg-0 text-right">
                    <img src="assets/customer/Support-Icon.svg" height="57px" alt="support icon">
                  </div>
                  <div class="col-lg-7 col-md-6 pr-lg-0">
                    <div class="media-body">
                      <h5 class="delivery-process-key bold">SUPPORT 24/7</h5>
                      <p class="delivery-process-value">Online 24 Hours</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="media-container">
                <div class="row">
                  <div class="col-lg-5 col-md-6 pr-lg-0 text-right">
                    <img src="assets/customer/Free-Return.svg" height="56px" alt="return icon">
                  </div>
                  <div class="col-lg-7 col-md-6 pr-lg-0">
                    <div class="media-body">
                      <h5 class="delivery-process-key bold">FREE RETURN</h5>
                      <p class="delivery-process-value">365 A Day</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="media-container-last">
                <div class="row">
                  <div class="col-lg-5 col-md-6 pr-lg-0 text-right">
                    <img src="assets/customer/Payment-icon.svg" height="57px" alt="payment icon">
                  </div>
                  <div class="col-lg-7 col-md-6 pr-lg-0">
                    <div class="media-body">
                      <h5 class="delivery-process-key bold">PAYMENT METHOD</h5>
                      <p class="delivery-process-value">Secure Payment</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- DELIVERY PROCESS ENDS -->

  <!-- FEATURED PRODUCTS STARTS HERE  -->
  <section class="featured py-5">
    <div class="container-fluid">
      <div class="row px-lg-5 mx-lg-5">
        <div class="col-12 px-0">
          <h3 class="featured-product mt-4 mb-3">Featured Products</h3>
        </div>

        <div *ngFor="let featuredProduct of featuredProducts" class="col-lg-3 col-md-6 col-sm-12 pl-0">
          <div class="card mb-4">
            <img (click)="viewProduct(featuredProduct)" src="{{featuredProduct.image[0]}}" class="card-img" alt="product image">
            <div class="card-body text-center">
              <h5 class="product-title">{{featuredProduct.product_name | slice:0:24 }}
                <span *ngIf="featuredProduct.product_name.length > 24">...</span>
              </h5>
              <p class="description">{{featuredProduct.product_description | slice:0:33}}
                <span *ngIf="featuredProduct.product_description.length> 33">...</span>
              </p>
              <p class="price">{{featuredProduct.new_price | currency: "₦"}}</p>
              <!-- <app-star-rating [rating]=4></app-star-rating> -->
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-2 pr-0">
                  <button (click)="viewProduct(featuredProduct)" class="btn eye-icon w-100 h-100"><i class="far fa-eye"></i></button>
                </div>
                <div class="col-8">
                  <button class="btn cart-icon w-100 py-3"><i class="fas fa-shopping-cart"></i>Add To Cart</button>
                </div>
                <div class="col-2 pl-0">
                  <button class="btn heart-icon w-100 h-100"><i class="fas fa-heart"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <!-- FEATURED PRODUCTS ENDS HERE -->

  <!-- INTRODUCTION CATEGORY STARTS HERE  -->
  <div class="container-fluid">
    <div class="row px-lg-5 mx-lg-5">
      <div class="col-12 mb-3">
        <div class="intro-category">
          <div class="row">
            <div class="col-lg-7">
              <div class="row h-100">
                <div class="col-lg-6 col-md-6 mb-3 pl-0">
                  <img src="assets/customer/Men.svg" alt="mens-cloth" class="img-fluid mens-cloth">
                </div>
                <div class="col-lg-6 col-md-6 mb-3 pr-0">
                  <img src="assets/customer/Accessories.svg" alt="accessories" class="img-fluid accessories">
                </div>
                <div class="col-12 mb-lg-0 mb-3 p-0">
                  <img src="assets/customer/Women.svg" alt="women" class="img-fluid women">
                </div>
              </div>
            </div>
            <div class="col-lg-5 mt-lg-0 mt-sm-2 d-md-none d-lg-block">
              <img src="assets/customer/Food.svg" class="w-100 food">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- INTRODUCTION CATEGORY ENDS HERE  -->

  <!-- BEST SELLERS PRODUCTS STARTS HERE  -->
  <section class="best-seller py-5">
    <div class="container-fluid">
      <div class="row px-lg-5 mx-lg-5">
        <div class="col-12 px-0">
          <h3 class="bestsellers-product mt-4 mb-3">Best Sellers</h3>
        </div>

        <div *ngFor="let bestSellerProduct of bestSellerProducts" class="col-lg-3 col-md-6 col-sm-12 pl-0">
          <div class="card mb-4">
            <img (click)="viewProduct(bestSellerProduct)" src="{{bestSellerProduct.image[0]}}" class="card-img" alt="product image">
            <div class="card-body text-center">
              <h5 class="product-title">{{bestSellerProduct.product_name}}</h5>
              <p class="description">{{bestSellerProduct.product_description }}</p>
              <p class="price">{{bestSellerProduct.new_price | currency: "₦"}}</p>
              <!-- <app-star-rating [rating]=4></app-star-rating> -->
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-2 pr-0">
                  <button (click)="viewProduct(bestSellerProduct)" class="btn eye-icon w-100 h-100"><i class="far fa-eye"></i></button>
                </div>
                <div class="col-8">
                  <button class="btn cart-icon w-100 py-3"><i class="fas fa-shopping-cart"></i>Add To Cart</button>
                </div>
                <div class="col-2 pl-0">
                  <button class="btn heart-icon w-100 h-100"><i class="fas fa-heart"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </section>
  <!-- BEST SELLERS PRODUCTS ENDS HERE -->

  <!-- SUMMER COLLECTION STARTS HERE -->
  <div class="container-fluid px-0">
    <div class="row">
      <div class="col-lg-6 px-0">
        <img src="assets/customer/Rectangle12.svg" alt="trendy-cloth" class="trendy-cloth w-100">
      </div>
      <div class="col-lg-6 px-0">
        <img src="assets/customer/Group83.svg" alt="trendy-cloth" class="trendy-cloth w-100">
      </div>
    </div>
  </div>
  <!-- SUMMER COLLECTION ENDS HERE -->


<!-- BRANDS STARTS HERE -->
<section class="featured-brands py-5 d-sm-block d-none">
    <div class="container-fluid">
        <div class="row px-lg-5 mx-lg-5 justify-content-around">
           <div class="col-12">
            <p class="featured-brands-text pb-5">Featured Brands</p>
           </div>
          <div class="col-lg-2 col-md-4">
            <img src="assets/customer/Thrive-logo.svg" alt="brand logos" class="brand-logos">
          </div>
          <div class="col-lg-2 col-md-4">
            <img src="assets/customer/Ariga.svg" alt="brand logos" class="brand-logos">
          </div>
          <div class="col-lg-2 col-md-4">
            <img src="assets/customer/Glamafric Logo.svg" alt="brand logos" class="brand-logos">
          </div>
          <div class="col-lg-2 col-md-4">
            <img src="assets/customer/Africa Fintech Foundry Logo.svg" alt="brand logos" class="brand-logos">
          </div>
          <div class="col-lg-2 col-md-4">
            <img src="assets/customer/ProduqtEdge Logo.svg" alt="brand logos" class="brand-logos">
          </div>
        </div>
    </div>
  
  </section>
  <!-- BRANDS ENDS HERE -->